# Ignore files and folders not needed for distribution
out/
.vs/
build-debug/
build-release/
*.exe
external/KalaServer/debug
external/KalaServer/release

# Ignore files containing sensitive data
email-sender-data.txt