body {
    margin: 0;
    color: #f0f0f0;
    background: linear-gradient( to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) calc(50% - 600px), #1e1e1e calc(50% - 550px), #1e1e1e calc(50% + 550px), rgba(0, 0, 0, 0) calc(50% + 600px), rgba(0, 0, 0, 0) 100% ), url('/assets/images/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page-header-container {
    max-width: 1000px;
    margin: 40px auto 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-header {
    text-align: center;
    box-sizing: border-box;
    margin-top: 25px;
}

.page-title {
    margin: 0;
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
}

.homepage-button-wrapper {
    max-width: 1000px;
    margin: 10px 0 0;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    transform: scale(1.3);
    transform-origin: left;
    width: fit-content;
    font-weight: bold;
}

.button-general {
    background: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    transition: box-shadow 0.2s ease, background 0.2s ease;
}
.button-general:hover {
    background: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}