.filler-box {
    margin: 40px auto;
    height: 500px;
    max-width: 1000px;
    background: #1E1E1E;
    border: 1px solid #333;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
