body {
    color: white;
    margin: 0;

    background-image: url("/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page-header {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.page-title {
    margin: 0;
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;

    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
}

.footer {
    width: 100%;
    background: #222;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #444;
}

.footer.fixed {
    position: fixed;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer-left {
    position: absolute;
    left: 20px;
    font-size: 14px;
    color: #aaa;
}

.footer-right {
    position: absolute;
    right: 20px;
    font-size: 14px;
    color: #aaa;
}

.footer-button {
    background: #333;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    border-radius: 4px;
    transition: box-shadow 0.2s ease, background 0.2s ease;
}

.footer-button:hover {
    background: #444;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}